.ScrollWrap {
  width: 495px;
  overflow-y: scroll;
  height: 188px;
  overflow-x: hidden;
}

.InvModalSummary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0px;
  outline: none;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #29335c;
  text-align: center;
  font: bold;
  border-top: 2px solid #fdcb6e;
  height: 35px;
}

.InvModalSummary p {
  font-size: 15px;
  margin: 0;
  margin-right: 5px;
}

.InvPreviewModal table th {
  width: 100%;
  height: 25px;
  border: 1px solid #221d23;
}

.InvPreviewModal h3 {
  background-color: #221d23;
  color: white;
  font-weight: bolder;
  margin: 3px;
  padding: 0;
}

.InvModalSummary button {
  width: 200px;
  border: 2px solid #221d23;
}

.InvPreviewModal {
  background-color: #221d23;
  position: relative;
}

.InvModalTotals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 22px;
  width: 100%;
}

.InvModalTotals p {
  box-sizing: border-box;
  margin-right: 8px;
  margin-left: 25px;
}

.InvModalTotals p:nth-child(1) {
  position: relative;
  left: 73px;
}

.InvPreviewModal table {
  width: 500px;
  position: fixed;
  left: 0;
  top: 0;
  table-layout: fixed;
}

.InvPreviewModal table thead tr {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #29335c;
  /* border-bottom: 2px solid white; */
  text-align: center;
}

.InvPreviewModal table th {
  width: 100%;
  height: 25px;
}

.InvPreviewModal table tbody {
  width: 479px;
  display: table;
}

.InvPreviewModal tfoot {
  position: fixed;
  bottom: 0px;
  left: 0;
}

.InvPreviewModal tfoot tr {
  height: 25px;
}

.InvSummaryModalRow {
  width: 479px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  table-layout: fixed;
  text-align: center;
}
.InvSummaryModalRow td {
  width: 120px;
  text-align: center;
}

.InvModalTotals span {
  font-size: small;
}

.InvModalTotals span:nth-of-type(1) {
  font-size: small;
  left: 30px;
  margin-left: 20px;
  margin-right: 5px;
}
