.ProdFillModal {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProdFillModal h3 {
  color: white;
  font-weight: bolder;
  margin: 3px;
  padding: 0;
}

.ProdFillModal input {
  display: flex;
  align-items: center;
  width: 55px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #221d23;
  text-align: center;
  border: none;
  font-size: 30px;
}

.ProdFillEnterButton {
  box-sizing: border-box;
  outline: none;
  width: 5vw;
  float: inline-start;
  padding: 8px 8px;
  background-color: #51783f;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 4px;
  border-bottom: 4px solid transparent;
}

.ProdFillBackButton {
  box-sizing: border-box;
  outline: none;
  width: 5vw;
  float: inline-start;
  padding: 8px 8px;
  background-color: #29335c;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 4px;
  border-bottom: 4px solid transparent;
}

.ProdFillBackButton:hover {
  cursor: pointer;
  background-color: #b2bec3;
  border-bottom: 4px solid #fdcb6e;
  box-sizing: border-box;
}

.ProdFillEnterButton:hover {
  cursor: pointer;
  background-color: #b2bec3;
  border-bottom: 4px solid #fdcb6e;
  box-sizing: border-box;
}
