.InvProdHeader {
  background-color: #29335c;
  color: white;
  position: sticky;
  top: 56px;
  z-index: 1;
}

.InvProdHeaderAsc {
  background-color: #29335c;
  position: sticky;
  top: 56px;
  z-index: 1;
}

.InvProdHeaderDesc {
  background-color: #29335c;
  position: sticky;
  top: 56px;
  z-index: 1;
}

.InvProdHeaderAsc:after {
  position: sticky;
  content: "\02C6";
}

.InvProdHeaderDesc:after {
  content: "\02C7";
}

.InvProdHeader:hover {
  cursor: pointer;
}
