.OTFHeaderWrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.TopHeader {
  width: 75vw;
  color: white;
  left: 75px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.BottomHeader {
  width: 75vw;
  color: white;
  display: inline-flex;
  flex-direction: row;
}

.BottomHeader h3 {
  margin-left: 35px;
  margin-top: 0;
}

.Button {
  width: 9vw;
  box-sizing: border-box;
  background-color: #29335c;
  height: 100%;
  border: 0;
  align-self: center;
  color: #363636;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 8px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}

.Button:hover {
  cursor: pointer;
  background-color: #b2bec3;
  border-bottom: 4px solid #fdcb6e;
  box-sizing: border-box;
}
