.OTFHeaderWrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.TopHeader {
  width: 75vw;
  color: white;
  left: 75px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.BottomHeader {
  width: 75vw;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.HeaderFloorTitle {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

.HeaderFloorTitle h1 {
  margin-right: 15px;
}

.HeaderFloorTitle select {
  margin-top: 34px;
  width: 200px;
  height: 30px;
}

.Button {
  width: 9vw;
  box-sizing: border-box;
  background-color: #29335c;
  height: 100%;
  border: 0;
  align-self: center;
  color: #363636;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 8px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}

.Button:hover {
  cursor: pointer;
  background-color: #b2bec3;
  border-bottom: 4px solid #fdcb6e;
  box-sizing: border-box;
}

.ProductTable {
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid #29335c;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.ProductTable p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  height: auto;
  width: 60px;
}

.ProductTable:hover {
  height: 100px;
  width: 100px;
  border: 2px solid #29335c;
  background-color: #b2bec3;
  cursor: pointer;
}

.Pillar {
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid #29335c;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.Pillar p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  height: auto;
  width: 60px;
}

.Pillar:hover {
  height: 100px;
  width: 100px;
  border: 2px solid #29335c;
  background-color: #b2bec3;
  cursor: pointer;
}

.Hardscaping {
  display: flex;
  height: 100px;
  width: 150px;
  border: 2px solid #29335c;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.Hardscaping p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  height: auto;
}

.Hardscaping:hover {
  height: 100px;
  width: 150px;
  border: 2px solid #29335c;
  background-color: #b2bec3;
  cursor: pointer;
}
