.ScrollWrap {
  width: 100vw;
  overflow-y: scroll;
  height: 342px;
  overflow-x: hidden;
}

.InvProdDropdown {
  background-color: #221d23;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  color: white;
}

.InvProdDropdown:hover {
  cursor: auto;
}

.InvProd {
  display: flex;
  flex-direction: row;
  width: 100vw;
  table-layout: fixed;
  text-align: left;
  transition: transform 0.1s; /* Animation */
  z-index: 10;
  background-color: #221d23;
  border-spacing: 0;
}

.InvProd td {
  font-weight: bold;
  width: 53px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin: auto;
  padding: 12px;
  transition: all 0.2s ease-in-out;
  border-color: #221d23;
  z-index: 9;
}

.InvProd td input {
  width: 80%;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: #221d23;
  text-align: center;
}

.InvProd td.highlight {
  padding: 0;
  width: 4px;
  background-color: #221d23;
}

.InvPrd td.highlight div {
  width: 4px;
  height: 60px;
  border-radius: 4px;
  background-color: #221d23;
  transition: all 0.2s ease-in-out;
}

.InvProd:hover {
  cursor: pointer;
  color: #363636;
  font-weight: bolder;
  border-top: #363636;
  border-bottom: #363636;
  text-align: center;
  opacity: 90%;
  box-shadow: 0px 9px 4px -6px #221d23;
}

tr:hover td.highlight div {
  transform: scaleX(3);
}

.InvProd.OGProdActive {
  background-color: #7fb069;
}

.InvProd.CVProdActive {
  background-color: #7678ed;
}

.InvProd.CVProdInactive {
  background-color: #383be5;
}

.InvProd.OGProdInactive {
  background-color: #51783f;
}

.InvProd.CVProdActive.OnSale,
.InvProd.OGProdActive.OnSale,
.InvProd.CVProdInactive.OnSale,
.InvProd.OGProdInactive.OnSale {
  border-top: 5px solid #fdcb6e;
  border-bottom: 5px solid #fdcb6e;
  font-weight: bold;
}

.InvProd.CVProdActive.OnSale:hover td,
.InvProd.OGProdActive.OnSale:hover td,
.InvProd.CVProdInactive.OnSale:hover td,
.InvProd.OGProdInactive.OnSale:hover td {
  color: #fdcb6e;
  font-weight: bolder;
}
